<% include('_header') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/update/<%= data.product_id %>" method="POST">
          <div class="form-group">
            <input type="text" name="name" value="<%= data.name%>" placeholder="Nombre" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="address" value="<%= data.code%>" placeholder="Codigo" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="phone" value="<%= data.ubication%>" placeholder="Ubicacion" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="phone" value="<%= data.date_pres%>" placeholder="Fecha" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary">
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include('_footer')%>
